<input
  :type="inputType"
  class="form-control"
  v-model.trim="value"
  v-on:input="updateValue()"
  :name="name"
  :id="name"
  :placeholder="placeholder"
  :required="required"
  :pattern="pattern"
  :step="step"
  :min="min"
/>
<div class="text-danger" v-if="!$v.value.required && $v.value.$model !== ''">Field is required.</div>
<!--<div class="text-danger" v-if="!$v.value.numeric">Only numeric value.</div>-->
<div class="text-danger" v-if="!$v.value.minValue">Only positive numeric value.</div>
